<!DOCTYPE html>
<html>
<head>
  <title>Wacky</title>
  <%= stylesheet_link_tag    "wacky/application", :media => "all" %>
  <%= javascript_include_tag "wacky/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
